  
  <div id="items">
    <div class="row justify-content-center ">
        <div class="col-12 ">
            <img class="img-fluid mx-4 hero" src="{{asset('assets/pictures/hero4.png')}}">
        </div>
    </div>
  </div>